
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
:root{
  --blue:#6da8ea;
  --light:#ffffff9f;
}
html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
body{
  height: 100vh !important;
}
.dark{
  background-color: black;
  color: white;
}
.light{
  background-color: white;
  color: black;
}
.divider{
  padding: 1.5rem;
  border-bottom:1px solid var(--light);
}
.c:hover{
  color:var(--blue);

}
.titreColor{
  background-image: linear-gradient(to right, #d7dde3, #97a5bb, #616f93, #363b6a, #12093f);
}
.animated-gradient {
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}