
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
:root{
  --blue:#6da8ea;
  --light:#ffffff9f;
}
html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
body{
  height: 100vh !important;
}
.dark{
  background-color: black;
  color: white;
}
.light{
  background-color: white;
  color: black;
}
.divider{
  padding: 1.5rem;
  border-bottom:1px solid var(--light);
}
.c:hover{
  color:var(--blue);

}
